body{
    margin: 5% 15% 5% 15%;
    background-color: rgb(188, 227, 235);
}

.container{
    background-color:rgb(240, 255, 254);
    width: 90%;
    padding: 2% 0 2% 0;
}

.container-fluid{
    margin: 2% auto 2% auto;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:left;
}

.date-input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-self: end;
    -ms-grid-row-align: end;
}

#del-btn{
    display: inline;
    margin-left: 1%;
}

#del-btn:hover{
    background-color: red;
}

#add-btn{
    background-color:rgb(188, 227, 235);
}

.hidden-content{
    visibility:hidden;
}

.show-content{
    visibility:visible;
}

